:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Color back-ground*/
  --primary-bg-color: #ffffff;
  --accent-bg-cl: #2e2f42;
  --secondary-bg-color: #f4f4fd;
  /* Text color */
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-txt-cl: #4d5ae5;
  --light-txt-cl: #404bbf;
  /* Btn Color */
  --primary-btn-color: #4d5ae5;
  --light-btn-cl: #404bbf;
  --secondary-btn-color: #404bbf;
  --accent-btn-cl: #f4f4fd;
  --primary-btn-text-cl: #ffffff;
  --accent-btn-txt-cl: #4d5ae5;

  /* others */
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --header-idx: 10;
  --modal-idx: 100;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  padding-top: 72px;
}
.link {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-text-color);
}
.list {
  padding: 0;
  margin: 0;

  list-style: none;
}
.logo-link {
  margin-right: 76px;
}

.logo-link,
.logo-world {
  display: flex;
  margin-left: auto;
  align-items: center;

  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-txt-cl);
}
.logo-world {
  text-decoration: none;
  line-height: 1.17;
  color: var(--secondary-text-color);
}

/*  
   |============================
   | reset start 
   |============================
 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);

  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;

  margin-top: 0;
  margin-bottom: 72px;
  color: var(--secondary-text-color);
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  border: none;
  color: var(--primary-btn-text-cl);
  background-color: var(--primary-btn-color);
  border-radius: 4px;
  transition: background-color var(--anim-fast), box-shadow var(--anim-fast);
}

.container {
  width: 1158px;
  margin: 0px auto;
  padding: 0px 15px;
}
img {
  display: block;
  margin: 0px;
  padding: 0px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: var(--header-idx);

  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* nav */
.header-flex {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--secondary-text-color);

  font-family: inherit;
  font-weight: 500;
  transition: color var(--anim-fast);
}
.header-nav-link::after {
  position: absolute;
  display: block;
  content: '';

  left: 0;
  top: 69px;

  width: 100%;
  height: 4px;

  background-color: var(--light-txt-cl);
  border-radius: 2px;
  transform: scale(0);
  transition: transform var(--anim-fast), color var(--anim-fast);
}

.header-nav-link.active::after {
  background-color: var(--light-txt-cl);
  transform: scale(100%);
}
.header-nav-link.active {
  color: var(--light-txt-cl);
}

.header-nav-link:hover::after {
  color: var(--light-txt-cl);
  background-color: var(--light-txt-cl);
  transform: scale(100%);
  animation: lineAppear 0.9s forwards;
}
@keyframes lineAppear {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.header-nav-list {
  display: flex;
}
.header-nav-item {
  margin-right: 40px;
}
.header-nav-item:last-child {
  margin: 0;
}

.header-nav-link:hover,
.header-nav-link:focus,
.contscts-link:hover,
.contscts-link:focus {
  color: var(--light-txt-cl);
}
.header-nav-link:active {
  color: var(--light-txt-cl);
}
.header {
  background-color: var(--primary-bg-color);
}

.header-contacts {
  font-style: normal;
  display: flex;
  margin-left: auto;
}
.contacts-list {
  display: flex;
}

.contacts-item {
  margin-right: 40px;
}
.contacts-item:last-child {
  margin: 0;
}
.contscts-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--primary-text-color);
  transition: color var(--anim-fast);
}

/**
  |============================
  | hero section
  |============================
*/

.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--accent-bg-cl);
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peole-ofice.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .title {
  animation: move-top 800ms ease-in 300ms both;
}
.hero .btn {
  animation: move-top 1300ms ease-in 300ms both;
}

@keyframes move-top {
  0% {
    opacity: 0;
    transform: translateY(calc(100px * var(--direction)));
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.hero .title {
  max-width: 496px;
  margin: 0 auto 48px auto;

  font-size: 56px;
  line-height: 1.07;
  text-transform: none;
  color: #ffffff;
}
.hero .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;

  color: var(--primary-btn-text-cl);
  background-color: var(--primary-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--anim-fast);
}
.hero .btn:hover,
.hero .btn:focus {
  color: var(--primary-btn-text-cl);
  background-color: var(--light-btn-cl);
}

.hero .btn:active {
  color: var(--light-btn-cl);
}
/**
  |============================
  | Strategy section
  |============================
*/
.strategy-list {
  display: flex;
}
.strategy-list-item {
  width: 264px;
}
.strategy-list-item {
  margin-right: 24px;
}
.strategy-list-item:last-child {
  margin-right: 0;
}

.strategy {
  padding-top: 120px;
  padding-bottom: 120px;
}
.subtitle {
  color: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding: 0px;
  margin: 0px;
}
.subtitle {
  margin-bottom: 8px;
}

.subtitle-desc {
  font-weight: 400;
  color: var(--primary-text-color);
  padding: 0px;
  margin: 0px;
}

/**
  |============================
  | Strategi icon
  |============================
*/
.strategi-block-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--accent-btn-cl);
  border-radius: 4px;
  margin-bottom: 8px;
}

/**
  |============================
  | Tools section 
  |============================
*/
.tools {
  padding-bottom: 120px;
}

.tools-list {
  display: flex;
}
.tools-item {
  width: calc((100%-48px) / 3);
  margin-right: 24px;
}
.tools-item:last-child {
  margin-right: 0px;
}

/**
  |============================
  | Team section
  |============================
*/
.team {
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--secondary-bg-color);
}
.team-list {
  display: flex;
}

.team-list-item {
  width: calc((100%-72px) / 4);
  margin-right: 24px;
  padding: 0;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-list-item:last-child {
  margin-right: 0;
}

.team-item-container {
  padding: 32px 0;
  margin: 0;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team .subtitle-desc {
  margin-bottom: 8px;
}

/**
  |============================
  | Social icons
  |============================
*/
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--primary-btn-color);
  border-radius: 50%;

  transition: background-color var(--anim-fast);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--light-btn-cl);
}
.social-icon {
  fill: var(--accent-btn-cl);
}

/**
  |============================
  | Customers section
  |============================
*/
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 1px solid #8e8f99;
  color: #8e8f99;
  border-radius: 4px;

  transition: border-color var(--anim-fast), color var(--anim-fast);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--light-btn-cl);
  border-color: var(--light-btn-cl);
}
.customer-icon {
  fill: currentColor;
}

/**
  |============================
  | Footer section
  |============================
*/
.footer {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  background-color: var(--accent-bg-cl);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.left-footer {
  margin-right: 120px;
}

.fotter-link {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-txt-cl);
  display: inline-block;
  margin-bottom: 16px;
}
.studio-world {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-desc {
  width: 264px;
  padding: 0;
  margin: 0;
  color: #f4f4fd;
}

/**
  |============================
  | Footer social icons 
  |============================
*/
.footer-social-icons {
  display: block;
  margin: 0;
  padding: 0;
}
.footer-social-media {
  margin: 0;
  padding: 0;
}
.footer-social-media {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-bg-color);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  text-align: center;
  justify-content: center;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: var(--primary-btn-color);
  border-radius: 50%;

  transition: background-color var(--anim-fast);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
/**
  |============================
  | Filtr btn
  |============================
*/
.filtr {
  padding-bottom: 120px;
  padding-top: 96px;
  margin: 0 auto;
}
.filtr .btn {
  padding: 12px 24px;
  background-color: var(--accent-btn-cl);

  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: var(--accent-btn-txt-cl);
  text-align: center;
  transition: background-color var(--anim-fast), color var(--anim-fast),
    border var(--anim-fast), box-shadow var(--anim-fast);
}
.filtr-btn-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
  padding: 0;
}

.filtr .btn:hover,
.filtr .btn:focus {
  background-color: var(--light-btn-cl);
  color: var(--primary-btn-text-cl);
  border: 1px solid transparent;
}

.filtr .btn:active {
  background-color: var(--light-btn-cl);
  color: var(--primary-btn-text-cl);
}

#shadow-button:hover,
#shadow-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}
.project-item {
  flex-basis: calc((100% - 48px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;
  max-width: 360px;
}
.project-item:nth-child(3n) {
  margin-right: 0;
}
.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-container {
  padding: 32px 16px;
  margin: 0;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-link {
  display: block;

  transition: box-shadow var(--anim-fast);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 40px 32px 164px 32px;

  background-color: var(--primary-btn-color);
  color: var(--accent-btn-cl);

  transform: translateY(100%);
  transition: transform var(--anim-fast);
}

.project-link:hover .overlay-text,
.project-link:focus .overlay-text {
  transform: translateY(0%);
}

/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(2px);
  z-index: var(--modal-idx);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity var(--anim-fast), visibilyty var(--anim-fast);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: inherit;
  pointer-events: none;
  transition-delay: 300ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  height: 584px;
  padding: 24px;
  padding-top: 72px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity var(--anim-fast), transform var(--anim-fast);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-75%);
  transition-delay: 400ms;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: #e7e9fc;
  color: var(--accent-bg-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color var(--anim-fast), color var(--anim-fast);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--light-btn-cl);
  border: none;
  color: var(--primary-btn-text-cl);
}

.modal-icon {
  fill: currentColor;
  vertical-align: middle;
}
/**
  |============================
  | Form
  |============================
*/
.modal-title {
  display: block;
  margin: 0;
  margin-bottom: 16px;

  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;

  color: var(--accent-bg-cl);
  text-align: center;
}

.form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.48px;
  color: #8e8f99;
}
.form-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.form-field {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 38px;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}
.form-field:focus,
.form-comment:focus {
  border: 1px solid var(--accent-txt-cl, rgba(46, 47, 66, 0.4));
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
}
.form-field:focus + .form-icon {
  fill: #4d5ae5;
}
.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;

  resize: none;
  border-radius: 4px;
  outline: transparent;
  font-size: 12px;
  font-family: Roboto;
  line-height: 1.16;
  letter-spacing: 0.48px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}

.form-agreement {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 24px;
}
.form-agreement-text {
  font-size: 12px;
  font-family: Roboto;
  color: #8e8f99;
}
.form-check-input {
  appearance: none;
  display: block;
  padding: 0;
  margin: 0;
}
.form-custom-check {
  margin-right: 8px;
}
.unchecked {
  opacity: 1;
  transition: 250ms;
}
.checked {
  opacity: 0;
  transition: 250ms;
}
.form-check-input:checked + .form-custom-check > .unchecked {
  opacity: 0;
}
.form-check-input:checked + .form-custom-check > .checked {
  opacity: 1;
}

.form-agreement-link {
  color: var(--accent-txt-cl);
}
.form-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
}
.fotter-subscribe {
  margin: 0;
  margin-left: 80px;
}
.subscribe-title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  color: var(--primary-bg-color);
}
.subtitle-form {
  display: flex;
  gap: 24px;
}
.form-label-subscribe {
  position: relative;
  width: 264px;
}
.form-field-subscribe {
  width: 100%;
  height: 40px;
  padding: 0;
  padding: 16px;

  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;

  background-color: transparent;
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-tag {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%) scale(1);

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
  color: var(--primary-bg-color);
  transition: transform var(--anim-fast), scale var(--anim-fast);
}
.form-field-subscribe:focus + .subscribe-tag {
  transform: translateY(-130%) scale(0.8);
  background-color: #2e2f42;
}

.subscribe-btn {
  display: flex;
  gap: 16px;
  padding: 8px 24px;
}
